.apresentacao_equipe{
    display: block;
    width: 80%;
    height: 10%;
    /* flex-direction: column; */
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 26%;
    margin-top: 0%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.ft_sobrenos{
    width: 15%;
    margin-left: 20%;
}
/* 
.quadro_equipe{
    width: 340px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #ADD8E6;
    box-shadow: 0px 4px 10px 20px rgba(0, 0, 0, 0.15);
}

.quadro_equipe4{
    width: 340px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #ADD8E6;
    box-shadow: 0px 4px 10px 20px rgba(0, 0, 0, 0.15);
} */

.quadro_e{
    width: 340px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #1d2029;
    margin-right: 5%;
}

.quadro_equipe2{
    display: flex;  
    margin-left: 22%;  
}

.quadro_equipe3{
    display: flex;  
    margin-left: 5%;  
    margin-bottom: 5%;
}

.quadro_e2{
    width: 340px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #1d2029;
    margin-right: 5%; 
}

.ft_e{
    width: 50%;
    height: 50%;
    flex-shrink: 0;
    border-radius: 50%;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 5px rgba(18,33,165,1);
    margin-left:25%;
    margin-top:10%;
    overflow: hidden;
}

.ft-delimitada{
    width: 100%; /* Preenche o contêiner horizontalmente */
    height: auto; /* Mantém a proporção original da imagem */
}

.ft-gustavo{
    width: 100%; /* Preenche o contêiner horizontalmente */
    height: 100%;
}

.nome_e{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 30px;
}
.nome_ee{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 15px;
}
.ft_e2{
    width: 50%;
    height: 50%;
    flex-shrink: 0;
    border-radius: 50%;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 5px rgba(207,24,156,0.8);
    margin-left:25%;
    margin-top:10%;
    overflow: hidden;
}

.ft2-delimitada{
    width: 100%; /* Preenche o contêiner horizontalmente */
    height: auto; /* Mantém a proporção original da imagem */
}